.card-container {
  background-color: #424872f8;
  color: aliceblue;
  overflow: hidden;
  min-height: 460px;
}
.card-container img {
  cursor: pointer;
  transition: 0.6s ease-in-out;
}
.card-container img:hover {
  transform: scale(1.1);
}
.icon-Container {
  padding: 5px 10px;
}
.icon-Container svg {
  margin-right: 30px;
  font-size: 1rem;
  cursor: pointer;
  color: #64ffda;
}
.technology-useses {
  display: flex;
  flex-wrap: wrap;
}
